* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 1000px;
  overflow-x: hidden;
}

/* Estilo do menu */
.menu-bg {
}

.menu {
  width: 100%;
  height: auto;
  margin: auto;
  padding: 30px 10%;
  display: flex;
  justify-content: space-between;
}

.menu-canto-direito {
  display: flex;
  align-items: center;
  gap: 30px;
}

.menu-canto-direito h1 {
  white-space: nowrap;
  font-size: 20px;
  color: #664ebee7;
}

.menu-canto-direito span {
  color: #623cea;
  font-weight: bold;
}
.menu-suporte {
  display: flex;
  align-items: center;
  gap: 20px;
  white-space: nowrap;
  color: #623ceaaf;
}
.menu-suporte span {
  color: #623cea;
  font-weight: bold;
}

.introducao {
  width: 100%;
  height: auto;
  margin: auto;
  padding: 30px 10%;
  display: flex;
  justify-content: space-between;
}

.introducao-conteudo {
  padding-top: 60px;
  flex: 1;
}
.introducao-conteudo h2 {
  color: #fa84d4;
  font-size: 18px;
  padding-bottom: 40px;
}
.introducao-conteudo h1 {
  font-size: 50px;
  color: #33303e;
  padding-bottom: 40px;
}
.introducao-conteudo p {
  font-size: 18px;
  color: #7a7786;
  padding-bottom: 30px;
}
.introducao-imagem {
  flex: 1;
}
.introducao-imagem img {
  max-width: 100%;
  height: auto;
}
.introducao-imagem-mobile {
  display: none;
}
.introducao-imagem-desktop {
  display: block;
  position: relative;
  right: -2%;
}

.introducao-imagem-desktop .imagem-complemento {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.imagem-complemento {
  margin-left: -50px;
}

/*PERSONALIZAO DO BOTAO*/

.botoes {
  display: flex;
  gap: 20px;
}
.btn {
  display: inline-flex;
  border: 1px solid #9ca5fb;
  border-radius: 7px;
  padding: 0.625rem 1.5rem;
  color: #734dff;
  transition: all 0.2s ease;
  text-decoration: none;
  margin-bottom: 10%;
  align-items: center;
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
  transition: filter 0.5s ease;
}

.texts {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1;
}

.text-1 {
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
  transition: color 0.3s ease;
}

.text-2 {
  font-weight: bold;
  transition: color 0.3s ease;
}

.btn:hover {
  background-color: #734dff;
  color: white;
  border-color: #734dff;
}

.btn:hover .text-1,
.btn:hover .text-2 {
  color: white;
}

.btn:hover .icon {
  filter: brightness(0) invert(1);
}

/*container passos*/

.container-passos {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  margin: auto;
  padding: 30px 10%;
  padding-bottom: 40px;
}

.passo {
  flex: 1;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 30px;
  text-align: left;
  transition: all 0.3s ease;
}
.passo:hover {
  background-color: #bb0ca40c;
}
.passo .numero {
  display: inline-block;
  font-size: 20px;
  background-color: #5a047c0e;
  border-radius: 10px;
  padding: 6px;
  font-weight: bold;
  color: #734dff;
  margin-bottom: 20px;
}
.passo h1 {
  font-size: 24px;
  margin-bottom: 15px;
}
.passo p {
  font-size: 16px;
  color: #666;
}

/*FUNCIONALIDADES*/

.funcionalidades {
  width: 100%;
  height: auto;
  margin: auto;
  padding: 30px 10%;
}
.funcionalides-sub {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 90px;
}
.funcionalides-sub h2 {
  padding-bottom: 20px;
  color: #fa84d4;
  font-size: 18px;
}
.funcionalides-sub h1 {
  font-size: 30px;
  color: #33303e;
}
.funcionalidades-sub p {
  font-size: 18px;
  color: #734dff;
}
.sub-- p {
  color: #734dff;
}
.funcionalidades-acesso {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.funcionalidades-imagens-acesso {
  flex: 1;
}
.funcionalidades-acesso-opcoes {
  display: flex;
  gap: 60px;
}
.botao-acessos {
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}
.botao-acessos img {
  width: 80%;
}
.texto-funcionalides {
  width: 400px;
}
.texto-funcionalides h1 {
  margin-top: 30px;
  color: #4e4b59;
  font-size: 30px;
}
.texto-funcionalides {
}
.texto-funcionalides h1 {
  padding-bottom: 20px;
}
.texto-funcionalides P {
  padding-bottom: 20px;
}

.texto-funcionalides ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
}
.texto-funcionalides .flex-lista {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding: 0;
}
/*LINHA*/

.linha-cell-1-linha-2 {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  margin: auto;
  margin-left: 34%;
  margin-top: -60px;
  padding-bottom: 40px;
}

/*QUEM TA JOGANDO?*/

.quem-ta-jogando {
  width: 100%;
  height: auto;
  margin: auto;
  padding: 10px 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.quantia-quem-ta-jogando {
  position: relative;
  margin-top: -90px;
  padding-right: 45px;
}
.quantia-quem-ta-jogando h2 {
  font-size: 16px;
  color: #fa84d4;
  padding-bottom: 20px;
}
.quantia-quem-ta-jogando h1 {
  line-height: 50px;
  padding-bottom: 20px;
}
.informacoes-quem-ta-jogando {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  white-space: nowrap;
}
.informacoes-quem-ta-jogando > div {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 16px;
  white-space: nowrap;
}
/*imagens quem ta jogando div 1*/
.pessoa-flor,
.pessoa-listrada {
  position: absolute;
}
.pessoa-listrada {
  top: -35%;
  left: -20%;
}
.pessoa-flor {
  bottom: -80%;
  left: 40%;
}
/*imagens quem ta jogando div 2*/
.pessoa-amarelo,
.pessoa-verde,
.auau,
.pessoa-red,
.chat-pessoa,
.linha-grande-chat,
.linha-pequena-chat {
  position: absolute;
}
.pessoa-amarelo {
  top: 47%;
  left: 10%;
}
.pessoa-verde {
  left: 38%;
  top: 70%;
}
.pessoa-red {
  right: 15%;
  top: 60%;
}
.chat-pessoa {
  right: 4%;
  top: 42%;
}
.auau {
  top: 15%;
  right: 6%;
}
.linha-grande-chat {
  right: 8.2%;
  top: 47%;
}
.linha-pequena-chat {
  right: 13%;
  top: 52%;
}
/*imagens quem ta jogando div 3*/
.pessoa-azul,
.paisagem {
  position: absolute;
}
.pessoa-azul {
  top: 20%;
  right: 43%;
}
.paisagem {
  top: -20%;
  right: -10%;
}
/*NORMAL*/
.linha-responsiva {
  display: none;
}
.texto-triangulo {
  display: none;
}
.texto-triangulo-chances {
  display: none;
}
.compartilhar-social {
  position: relative;
  width: 500px;
  padding-top: 160px;
}
.compartilhamento h1 {
  padding-top: 30px;
  font-size: 24px;
  padding-bottom: 30px;
}
.compartilhamento p {
  font-size: 20px;
  color: #8c8a97;
}
.jane- {
  padding-right: 40px;
  position: relative;
}
.jane-cooper {
  padding-right: 80px;
}
.jane- .jane-mobile {
  display: none;
}

/*ajuda*/
.container-ajuda-bg {
  margin-top: 8%;
  background: linear-gradient(
    to bottom,
    rgba(79, 67, 82, 0.055) 75%,
    rgb(255, 255, 255) 25%
  );
}
.ajuda-info {
  width: 100%;
  height: auto;
  margin: auto;
  padding: 7% 0px;
  padding-left: 10%;
  display: flex;
  justify-content: space-between;
}
.info-texto {
}
.info-texto h2 {
  font-size: 18px;
  color: #fa84d4;
  padding-bottom: 20px;
}
.info-texto h1 {
  font-size: 50px;
  color: #33303e;
  padding-bottom: 30px;
}
.info-texto p {
  font-size: 18px;
  color: #7a7786;
  padding-bottom: 40px;
}
.btn-ajuda {
  border: none;
  background-color: #fa84d4;
  border-radius: 5px;
  padding: 15px 60px;
}
.btn-ajuda a {
  font-size: 18px;
  text-decoration: none;
  color: white;
}
.info-imagem {
  position: relative;
  cursor: pointer;
}
.circulo-roxo {
  position: absolute;
  right: 55%;
  top: -10%;
}

.ajuda-quadrado {
  position: relative;
  width: 100%;
  height: auto;
  margin: auto;
  padding: 0px 10%;
}
.ajuda-quadrado img {
  width: 100%;
}
.emoj-fundo {
  padding: 10px 15px;
  border-radius: 5px;
  background-color: white;
  position: absolute;
  top: 20%;
  left: 48%;
  font-size: 20px; 
  z-index: 10; /
}
.texto-triangulo-uxui {
  position: absolute;
  top: 40%;
  left: 0%;
  text-align: center;
  width: 100%;
  z-index: 10;
  color: white; 
  font-size: 32px;
  font-weight: bold;
}
.texto-triangulo-uxui .line1 {
  margin-bottom: 10px;
}
.texto-triangulo-uxui .line2 {
  margin-left: 10px;
}
.ajuda-quadrado .botoes {
  position: absolute;
  top: -20%;
  left: 50%;
  display: flex;
  gap: 20px; 
  z-index: 10;
}
.ajuda-quadrado .botoes-aprenda {
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px; 
  z-index: 10;
}
.btn-aprenda {
  display: flex;
  align-items: center;
  text-decoration: none;
  background-color: white;
  border-radius: 10px;
  padding: 10px 20px;
  gap: 15px;
}
.btn-aprenda .icon {
  width: 40px;
  height: 40px;
}
.btn-aprenda .texts {
  display: flex;
  flex-direction: column;
}
.btn-aprenda .text-1 {
  font-size: 12px;
  color: #734dff;
}
.btn-aprenda .text-2 {
  font-size: 16px;
  font-weight: bold;
  color: #734dff;
}
.botoes-aprenda {
  display: flex;
  gap: 20px;
  justify-content: center;
}
/*RESPONSIVO CELULAR*/

@media (max-width: 488px) {
  body {
    max-width: 100%;
    height: auto;
    margin: auto;
    overflow-x: hidden;
  }
  .menu-suporte {
    padding: 0px 10px;
  }
  .menu-suporte h2 {
    display: none;
  }
  section {
    text-align: center;
  }

  /* Introdução */
  .introducao {
    flex-direction: column;
    align-items: center;
  }

  .introducao-conteudo {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .introducao-conteudo h1,
  .introducao-conteudo h2,
  .introducao-conteudo p {
    text-align: center;
  }
  .introducao-conteudo h1 {
    font-size: 30px;
  }
  .introducao-conteudo p {
    width: 500px;
    font-size: 14px;
    padding-bottom: 40px;
  }
  .introducao-imagem {
    order: 0;
    margin-bottom: 1rem;
  }

  .introducao-imagem-desktop {
    display: none;
  }

  .introducao-imagem-mobile {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0;
  }

  .introducao-imagem-mobile .imagem-complemento {
    position: absolute;
    top: 0;
    left: 65%;
    transform: translateX(-50%);
    width: 80%;
    z-index: 1;
  }
  .iphone-introducao-mobile {
    margin-left: 30%;
    padding-bottom: 40px;
  }

  .introducao-imagem-mobile img {
    max-width: 90%;
    height: auto;
    display: block;
  }

  .mouse-imagem {
    display: none;
  }
  .container-passos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-left: 10%;
  }

  .passo {
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    margin-bottom: 20px;
  }

  .passo .numero {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    color: #734dff;
    background-color: #24232310;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 15px;
  }

  .passo h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .passo p {
    font-size: 14px;
    color: #666;
    width: auto;
  }

  /*FUNCIONALIDADES*/

  .funcionalidades {
    margin-left: 0%;
  }
  .funcionalidades-acesso {
    display: flex;
    flex-direction: column;
  }

  .funcionalides-imagens-acesso {
    order: 4;
  }

  .funcionalides-sub {
    order: 1;
    text-align: center;
    margin-bottom: 20px;
  }

  .botao-acessos {
    order: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
  }

  .botao-acessos {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    gap: 10px;
    padding: 10px;
    scrollbar-width: none;
  }

  .botao-acessos::-webkit-scrollbar {
    display: none;
  }

  .botao-acessos img {
    scroll-snap-align: center;
    height: auto;
  }

  .texto-funcionalides {
    order: 3;
    text-align: center;
  }
  .texto-funcionalides p {
    font-size: 18px;
    color: #8c8a97;
  }
  .funcionalidades-acesso-opcoes {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .funcionalides-sub p {
    display: none;
  }
  .texto-funcionalides .flex-lista {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .texto-funcionalides .flex-lista li {
    display: flex;
    align-items: center;
    justify-items: center;
  }
  .texto-funcionalides .flex-lista .check {
    margin-right: 10px;
  }
  .flex-lista {
    color: #8c8a97;
  }
  .imagem-atividades {
    display: block;
    margin-left: -16%;
    margin-top: 30px;
    width: 120%;
  }
  .linha-cell-1-linha-2 {
    display: none;
  }

  /*QUEM TA JOGANDO*/

  .quem-ta-jogando {
    position: relative;
    flex-direction: column;
    padding: 5px;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
  }
  .quantia-quem-ta-jogando br {
    display: block;
  }
  .quantia-quem-ta-jogando h2 {
    margin-top: 45%;
    font-size: 18px;
    color: #fa84d4;
    padding-bottom: 20px;
  }
  .quantia-quem-ta-jogando h1 {
    font-size: 30px;
    color: #33303e;
    padding-bottom: 30px;
  }
  .informacoes-quem-ta-jogando {
    color: #8c8a97;
    gap: 40px;
    padding-bottom: 40px;
  }
  .linha-responsiva {
    display: block;
    position: absolute;
    top: -50px;
  }
  .jane-cooper {
    display: none;
  }
  .compartilhar-social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .compartilhar-social h1 {
    display: none;
  }
  .compartilhar-social p {
    display: none;
  }
  .seta {
    display: block;
    width: 10%;
    padding-bottom: 40px;
  }

  .texto-triangulo {
    display: block;
  }
  .texto-triangulo {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    padding-bottom: 40px;
    color: #4e4b59;
  }
  .texto-triangulo .line1 {
    margin-bottom: 10px;
  }
  .texto-triangulo .line2 {
    margin-left: 10px;
  }
  .texto-triangulo {
    display: block;
  }
  .texto-triangulo-chances {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    color: #8c8a97;
  }

  .texto-triangulo-chances .line1 {
    margin-bottom: 10px;
  }

  .texto-triangulo-chances .line2 {
    margin-left: 10px;
  }
  .pessoa-flor,
  .pessoa-listrada,
  .pessoa-listrada,
  .pessoa-flor,
  .pessoa-amarelo,
  .pessoa-verde,
  .auau,
  .pessoa-red,
  .chat-pessoa,
  .linha-grande-chat,
  .linha-pequena-chat,
  .pessoa-amarelo,
  .pessoa-verde,
  .pessoa-red,
  .chat-pessoa,
  .auau,
  .linha-grande-chat,
  .linha-pequena-chat,
  .pessoa-azul,
  .paisagem,
  .pessoa-azul,
  .paisagem {
    display: none;
  }
  .jane- .jane-cooper {
    display: none;
  }
  .jane- .jane-mobile {
    display: block;
    padding-top: 40px;
    padding-left: 20px;
  }

  /*AJUDA*/

  .ajuda-info {
    flex-direction: column;
  }
  .info-imagem {
    display: flex;
  }
  .info-imagem img {
    width: 190%;
  }
}
